@charset "UTF-8";

body{
    text-align: center;
    background: rgb(106,0,0);
    background: linear-gradient(90deg, rgba(106,0,0,1) 10%, rgba(255,0,0,1) 100%);
    font-size: 12pt;
    font-family: Arial;
}

a{
    color: yellow;
    text-decoration: none;
}